@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background: #eee;
    text-align: center;
    flex-wrap: wrap;
}

.h-view {
    height: 100vh;
}

.Card {
    background-color: #906cda;
}

.Button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.textField {
    margin: 0 auto;
    width: 200;
}

.formControl {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 180;
}