@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background: #eee;
    text-align: center;
    flex-wrap: wrap;
}

.h-view {
    height: 100vh;
}

.Card {
    background-color: #906cda;
}

.Button {
    margin: 10px;
}

.Genres {
    width: 18%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Budgets {
    width: 18%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#auto-complete1 {
    width: 110px;
}

#auto-complete2 {
    width: 110px;
}

.CustomDate {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.Card {
    display: flex;
    flex-wrap: wrap;
}

.Button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.Genres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.Budgets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}